.right{
  text-align: right;
}
.middle{
  text-align: center;
}
.wide{
  width: 100%;
}
.app{
  min-height: 500px;
}


.loading-spinner-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}