.right{
  text-align: right;
}
.left{
  text-align: left;
}
.middle{
  text-align: center;
}
.wide{
  width: 100%;
}
.narrow{
  width: 50%; 
}
.colorBlue{
  color: blue;
}
.colorRed{
  color: red;
}
.app{
  min-height: 500px;
}
.card{
  background-color: cadetblue;
}
body{
  background-color: silver;
}
.button{
  text-decoration-color: white;
}
.buttonPosition{
  float: right;
}

.loading-spinner-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}